{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "sourceMaps": true,
  "retainLines": true
}
