# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# mount files
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
/sftp-config.json
/.vscode

# node files
node_modules/
npm-debug.log

# project files
.idea/

# manual test files
test/manual/en
test/manual/fr
